.business-triangle{
    cursor: pointer
}
<<<<<<< HEAD
=======

>>>>>>> 33fc5ce2cd93d557e801ce3880ea2f18def41e7a
.navcontent li{
    position: relative;
}
.buslist{cursor: pointer}
<<<<<<< HEAD
=======

>>>>>>> 33fc5ce2cd93d557e801ce3880ea2f18def41e7a
.cart{
    position: absolute;
    display: none;
    width: 120px;
    left: 0px;
    top: 40px;
    text-align: center;
    background:rgba(245,245,245,1);
    z-index: 20;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buslist1{cursor: pointer;
    position: relative;}
.cart1{
    position: absolute;
    display: none;
    width: 120px;
    left: 0px;
    top: 40px;
    text-align: center;
    background:rgba(245,245,245,1);
    z-index: 20;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cart1 p a ,.cart p a ,.cart2 p a {
    color: #4A4A4A;
    text-decoration: none;
}
.buslist2{cursor: pointer;
    position: relative;
}
.cart2 {
    position: absolute;
    display: none;
    width: 120px;
    left: 0px;
    top: 40px;
    text-align: center;
    background: rgba(245, 245, 245, 1);
    z-index: 820;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cart2 p:hover{
    background: #D0D0D0;
}
.cart p:hover{
    background: #D0D0D0;
}
.cart1 p:hover{
    background: #D0D0D0;
}
.navcontent li:hover p a{
    color: #4A4A4A;
}
