*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑","宋体",verdana;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
ul,li{
    list-style: none;
}
.cl{
    clear: both;
}
.site-top{
    width: 100%;
    background-color: #f5f5f5;
}
.top-container{
    width: 1220px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.index{
    margin-left:10px;
    color:#606060;
    font-size: 12px;
}
.info{
    margin-right: 10px;
    float: right;
}
.info li{
    position: relative;
    float: left;
    font-size:12px;
    color: #606060;
    margin-right: 20px;
}
.little-tx{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.info li a{
    color:#606060;
    font-size:12px;
}
.info-triangle{
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-color: #4a4a4a transparent;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}
.userinfo{
    cursor: pointer;
}
.cart{
    position: absolute;
    top:40px;
    left: 0;
    display: none;
    width: 83px;
    text-align: center;
    background:rgba(245,245,245,0.7);
}
.cart a{
    line-height: 30px;
    color: #606060;
}
.header{
    width: 100%;
    border-bottom: 2px solid #1DABD8;
}
.header-container{
    width: 1220px;
    margin: 0 auto;
}
.logo{
    height: 120px;
    float:left ;
}
.logo img{
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: middle;
}
.logo i{
    vertical-align: middle;
    font-size:40px;
    font-width:bold;
    color: #4a4a4a;
}
.search{
    float: right;
    margin-right: 10px;
    margin-top: 40px;
}
.search-form{
    position: relative;
}
.search-text{
    text-indent: 120px;
    padding-right: 80px;
    border: 1px solid #1DABD8;
    border-radius: 5px;
    width:500px;
    height: 40px;
    line-height: 40px;
}
.search-btn{
    width: 80px;
    height: 42px;
    background-color: #1DABD8;
    border: none;
    border-radius: 5px;
    position: absolute;
    top:0;
    right: 0;
}
.site-nav{
    width: 1220px;
    margin: 0 auto;
}
.navigation{
    width: 1200px;
    margin: 0 auto;
}
.nav-item{
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nav-item a{
    color: #606060;
}
.new-chat{
    float: right;
    display: block;
    position: relative;
    margin-right: 10px;
}
.new-chat img{
    position: relative;
    top:10px;
}
.site-middle{
    width: 100%;
}
.middle-container{
    width: 1220px;
    margin: 20px auto 0;
}
.chat-info{
    width: 1200px;
    margin: 0 auto;
}
.chat-item{
    height: 166px;
}
.chat-show{
    margin-top: 40px;
}
.chat-show li{
    display: inline-block;
    vertical-align: top;
}
.portrait{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.name{
    font-size: 14px;
    color: #4a4a4a;
    text-align: center;
}
.date{
    margin-top: 15px;
    text-align: center;
}
.day{
    font-size: 32px;
    color: #4a4a4a;
}
.month{
    font-size: 20px;
    color: #4a4a4a;
}
.chat-content{
    margin-top: 30px;
    margin-left: 40px;
    width: 1054px;
    background-color: #F5F5F5;
    position: relative;
    border-radius: 5px;
}
.chat-content::before{
    content: "";
    position: absolute;
    right: 100%;
    top:0;
    background: url("../images/chat/icon.png");
    width: 30px;
    height: 40px;
}
.chat-title{
    margin-left: 10px;
    margin-top: 10px;
    color: #4a4a4a;
}
.content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 14px;
    color: #4a4a4a;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
    text-overflow: ellipsis;
    width: 1034px;
    height: 40px;
}
.comments-share{
    margin-top: 10px;
    text-align: right;
    margin-bottom: 10px;
}
.comments img,.share img{
    vertical-align: middle;
}
.comments{
    margin-right: 20px;
}
.comments{
    color: #606060;
    font-size: 14px;
}
.comments img{
    margin-right: 5px;
    vertical-align: middle;
}
.share{
    margin-right: 10px;
}
.pages{
    width: 1180px;
    height: 80px;
    margin: 0 auto;
}
.page-select{
    margin-left: 380px;
    margin-top: 40px;
    float:left ;
}
.page-select li{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    outline: 1px solid #9b9b9b;
    margin-left: 10px;
}
.pagesup{
    margin-right: 20px;
}
.pagesdown{
    margin-left: 20px;
}
.pages-num{
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    outline: 1px solid #c5c4c5;
}
.page-select a{
    font-size: 14px;
    color:#9b9b9b;
}
.page-skip{
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 40px;
    float: right;
}
.page-num{
    width: 20px;
    height: 20px;
    border: 1px solid #9b9b9b;
}
.blank{
    margin-left: 10px;
    margin-right: 20px;
}
.page-btn{
    width: 50px;
    text-align: center;
    color: #9b9b9b;
    background-color: #FFFFFF;
    border: 1px solid #9b9b9b;
    line-height: 20px;
    margin-right: 10px;
}
.footer-top{
    width: 100%;
    background-color: #F5F5F5;
}
.footer-top-container{
    width: 1220px;
    margin: 0 auto;
    margin-top: 140px;
}
.link{
    float: left;
    width: 700px;
}
.link h4{
    font-size: 20px;
    color: #4A4A4A;
    margin: 10px 0 20px 10px;
}
.line{
    border: none;
    background-color: #c5c4c5;
    width: 700px;
    height: 1px;
}
.link-list,.link-list1{
    margin-top: 15px;
    float: left;
    width: 170px;
}
.link-list a,.link-list1 a{
    color:#737373 ;
    font-size: 12px;
    margin-bottom: 10px;
}
.link-list{
    margin-left: 10px;
}
.qr-code{
    float: left;
    width: 500px;
}
.qr-code ul{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.qr-code h4{
    font-size: 20px;
    color: #4A4A4A;
}
.qr-code li{
    text-align: center;
    float: left;
    width: 200px;
}
.qr-code img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
}
.btottom{
    width: 100%;
    border-top: 5px solid #9b9b9b;
    background-color: #4A4A4A;
}
.bottom-container{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    width: 1220px;
    margin: 0 auto;
}
.bottom-container a{
    color: #FFFFFF;
    font-size: 12px;
}
.p1{
    margin-top: 30px;
}.p1 span{
     margin: 0 20px;
 }
.p2{
    margin-top: 15px;
}
.p3{
    margin-top: 15px;
    padding-bottom: 22px;
}
.p3 span {
    margin: 0 20px;
}