*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑","宋体",verdana;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
ul,li{
    list-style: none;
}
.cl{
    clear: both;
}
.site-top{
    width: 100%;
    background-color: #f5f5f5;
}
.top-container{
    width: 1220px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.index{
    margin-left:10px;
    color:#606060;
    font-size: 12px;
}
.info{
    margin-right: 10px;
    float: right;
}
.info li{
    float: left;
    font-size:12px;
    color: #606060;
    margin-right: 20px;
}
.little-tx{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.info li a{
    color:#606060;
    font-size:12px;
}
.info-triangle{
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-color: #4a4a4a transparent;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}
.userinfo{
    cursor: pointer;
}
.cart{
    position: absolute;
    display: none;
    width: 83px;
    text-align: center;
    background:rgba(245,245,245,0.7);
}
.cart a{
    line-height: 12px;
    color: #606060;
}
.header{
    width: 100%;
    border-bottom: 2px solid #1DABD8;
}
.header-container{
    width: 1220px;
    margin: 0 auto;
}
.logo{
    height: 120px;
    float:left ;
}
.logo img{
    margin-left: 10px;
    margin-top: 20px;
}
.search{
    float: right;
    margin-right: 10px;
    margin-top: 40px;
}
.search-form{
    position: relative;
}
.search-text{
    text-indent: 120px;
    padding-right: 80px;
    border: 1px solid #1DABD8;
    border-radius: 5px;
    width:418px;
    height: 40px;
    line-height: 40px;
}
.search-btn{
    width: 80px;
    height: 42px;
    background-color: #1DABD8;
    border: none;
    border-radius: 5px;
    position: absolute;
    top:0;
    right: 0;
}
.navigation::after{
    clear: both;
    content: "";
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.nav-item{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}
.nav-item a{
    color: #606060;
}
.nav-item:hover{
    background-color: #1DABD8;
}
.business-triangle{
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-color: #4a4a4a transparent;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}
.business-list{
    display: none;
}
.site-middle{
    width: 100%;
}
.middle-content{
    width: 1220px;
    margin: 0 auto;
}
.middle-top{
    width: 1200px;
    margin: 0 auto;
}
.carousel,.share{
    float: left;
}
.middle-top::after{
    clear: both;
    content: "";
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.h1_h1{
    text-align: center;
    margin-bottom: 10px;
}
.banner img{
    width: 790px;
    height: 390px;
    border: none;
}
.share{
    margin-left: 20px;
    width: 380px;
}
.share-item{
    list-style: inside;
}
.share-title{
    margin: 20px 0 10px;
}
.share-title h2{
    font-size: 20px;
    color: #4a4a4a;
    float: left;
}
.share-title i{
    display: block;
    float: left;
    color: #f53745;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    margin-left: 10px;
}
.share-title a{
    float: right;
}
.share-title::after{
    clear: both;
    content: "";
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.parting{
    display: block;
    width: 380px;
    height: 2px;
    background-color: #606060;
    margin-bottom: 20px;
}
.share-item{
    width: 380px;
    font-size: 14px;
    color: #606060;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden
}
.share-item a{
    margin-right: 10px;
}
.information-content{
    width: 1200px;
    margin: 20px auto 0;
}
.information-content h2{
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 20px;
    line-height: 30px;
}
.parting-line{
    display: block;
    width: 1200px;
    height: 2px;
    background-color: #606060;
}
.info-nav{
    width: 1200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #c5c4c5;
}
.rank{
    float: left;
}
.order{
    margin-left: 40px;
    margin-right: 60px;
    color: #1DABD8;
    font-size: 14px;
}
.hot-order{
    font-size: 14px;
}
.paging{
    float: right;
}
.pageup{
    margin-right: 40px;
}
.pagedown{
    margin-right: 10px;
}
.info-nav::after{
    clear: both;
    content: "";
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.info-item{
    height: 100px;
}
.info-item li{
    display: inline-block;
    vertical-align: top;
}
.info-desc{
    width: 1000px;
    margin-left: 20px;
}
.info-desc h3{
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 27px;
    margin-bottom: 10px;
}
.info-desc p{
    width: 1000px;
    height: 24px;
    font-size: 14px;
    color: #9b9b9b;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    margin-bottom: 20px;
}
.info-item img{
    width: 120px;
    height: 80px;
    margin: 10px 20px 10px 30px;
}
.info-parting{
    width: 1180px;
    height: 1px;
    display: block;
    background-color: #c5c4c5;
}
.pages{
    width: 1180px;
    height: 80px;
    margin: 0 auto;
}
.pagination{
    margin-left: 380px;
    margin-top: 50px;
    float:left ;
}
.pagination li{
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    line-height: 20px;
    outline: 1px solid #9b9b9b;
}
.pagination a{
    color: #9b9b9b;
}
.page-select li{
    display: inline-block;
    vertical-align: middle;
}
.pagesup{
    margin-right: 20px;
}
.pagesdown{
    margin-left: 20px;
}
.pages-num{
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    outline: 1px solid #c5c4c5;
}
.page-select a{
    font-size: 14px;
    color:#9b9b9b;
}
.page-skip{
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 50px;
    float: right;
}
.page-num{
    width: 20px;
    height: 20px;
    border: 1px solid #9b9b9b;
    text-align: center;
    line-height: 20px;
}
.blank{
    margin-left: 10px;
    margin-right: 20px;
}
.page-btn{
    width: 50px;
    text-align: center;
    color: #9b9b9b;
    background-color: #FFFFFF;
    border: 1px solid #9b9b9b;
    line-height: 20px;
    margin-right: 10px;
}
.footer-top{
    width: 100%;
    background-color: #F5F5F5;
}
.footer-top-container{
    width: 1220px;
    margin: 0 auto;
    margin-top: 140px;
}
.link{
    float: left;
    width: 700px;
}
.link h4{
    font-size: 20px;
    color: #4A4A4A;
    margin: 10px 0 20px 10px;
}
.line{
    border: none;
    background-color: #c5c4c5;
    width: 700px;
    height: 1px;
}
.link-list,.link-list1{
    margin-top: 15px;
    float: left;
    width: 170px;
}
.link-list a,.link-list1 a{
    color:#737373 ;
    font-size: 12px;
    margin-bottom: 10px;
}
.link-list{
    margin-left: 10px;
}
.qr-code{
    float: left;
    width: 500px;
}
.qr-code ul{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.qr-code h4{
    font-size: 20px;
    color: #4A4A4A;
}
.qr-code li{
    text-align: center;
    float: left;
    width: 200px;
}
.qr-code img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
}
.btottom{
    width: 100%;
    border-top: 5px solid #9b9b9b;
    background-color: #4A4A4A;
}
.bottom-container{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    width: 1220px;
    margin: 0 auto;
}
.bottom-container a{
    color: #FFFFFF;
    font-size: 12px;
}
.p1{
    margin-top: 30px;
}.p1 span{
     margin: 0 20px;
 }
.p2{
    margin-top: 15px;
}
.p3{
    margin-top: 15px;
    padding-bottom: 22px;
}
.p3 span{
    margin: 0 20px;
}