.hedtou{background: #f8f8f8;}
.navtp{margin: 0px; height: 30px;}
.rossa{margin-bottom: 0px;}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    height: 20px;
    padding-top: 10px;
}
.navbar {
    min-height: 40px;
    border: none;
}


.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
}

.daohang{font-size: 12px;color: #606060;}
.daohang  li{margin-left:20px; width: auto;height: 37px;line-height: 37px; }
.daohang img {width: 20px;height: 20px;}
.yhm{margin-top: 7px;}
.daohang li a {padding: 0px;}
.shouy{margin-top: 10px;}
.shouy a{color: #606060;}
.topfg{margin-top: 0px;margin-bottom: 0px;border-bottom: 1.5px #e0e0e0  solid;}
.tusou{margin: 20px 0px;}
.topone{width: 100%;height: 100px;background: #1DACD8;}
.topone-1{width: 1220px;height: 100px;margin: 0 auto;}
.topone-2{width: 400px;height: 100px;float: left;}
.topone-2 img{margin-left: 20px;}
.topone-3 li a:hover img{}
.topone-3{width: auto;height: 100px;float: left;line-height: 100px;}
.topone-3 li{list-style: none;display: inline;float: left;width: 120px;height: 100px;text-align: center;margin-top: 7px;}
.ppp{position: relative;}
.ppp img {position: absolute;bottom: 6px;left: 52px; display:none;}
.ppp:hover img{display: block;}
.topone-3 ul{width: auto;height: 100px;line-height: 100px;padding-left:0px;}
.topone-3 li a{font-size: 14px;color: #ffffff;margin-top: 5px;text-decoration: none;}
.daomain{width: 910px;height: 60px;background: #f5f5f5;margin: 10px 0px;line-height: 60px;}
.daomain li a{font-size: 18px;color: #4a4a4a;padding-right: 90px;}
.daomain li a:hover{font-size: 20px;color: #1DABD8;text-decoration: none;}
.topll{text-align: center;width: 280px;height: 420px;background: #f5f5f5;padding: 0px;}
.topll img{width: 280px;height: 280px;margin-bottom: 10px;}
.topll p{margin-top: 10px;margin-bottom: 0px;font-size: 14px;}
.daxie{padding-left: 0px;}
.contmain li{width: 220px;height: 300px;border: 1px #9b9b9b solid;
    text-align:left;padding: 0px;background: #ffffff;margin-right: 5.5px;margin-bottom: 10px;}
.contmain img{width: 200px;height: 200px;margin: 10px 10px;}
.contmain p{padding: 0px 5px;font-size: 14px;color: #606060;margin-bottom: 5px;}
.contmain a{text-decoration: none;}
.contmain li:hover{border: 2px #1DABD8 solid;}
.contmain{width: 910px;height: auto;padding: 0px;margin-left: 5px;margin-bottom: 140px;}
.toppp{background:#f5f5f5;margin-top: 20px;width: 280px;height: 500px;}
.toppp hr{ width: 85%;border-bottom: 1px #606060 solid;margin: 0px auto;text-align: center;}
.toppp ul {padding-top: 0px;}
.toppp li{padding: 12.5px 0px;}
.toppp li a {font-size: 14px;color: #666666;text-decoration: none;}
.toppp li a:hover{font-size: 14px;color: #606060;}
.ttt li{margin: 10px auto;}

.ddd{position: relative;}
.ddd img {position: absolute;left: 0px;bottom: 5px; display: none;width:10px;height: 40px; }
.ddd a:visited img{display: block;}



.foottop{background: #f5f5f5;height: 175px;}
.biaoti h3{margin: 10px 0px;padding: 0px;font-size: 20px;color: #4a4a4a;}
.btdown{margin: 5px -5px;border-top: 1.5px #c5c4c5 solid;margin-bottom: 15px;}
.wangz{font-size: 12px; color: #737373;}
.wangz p a{color: #737373;}
.footer{background:#4a4a4a;height: 150px;}
.erweima{width: 400px;height: 175px;float: right;}
.erweima h4{font-size: 20px;color: #4a4a4a;}
.nnn{float: right;margin-right: -50px;}
.zhwz{width: 720px;height: 175px;}
.zuho{margin: 0px;border-bottom: 5px #9b9b9b solid;border-top: 0px ;}
.footerdown{padding: 10px 0px;font-size: 12px;color:#fff;}
.footerdown p a {color: white;}
.footerdown p{margin-bottom: 15px;}
.footer span{padding: 0px 20px;}
@media (max-width: 480px) {
    .daosty li a {
        padding: 3px 3px;
    }

    .footser {
        font-size: 12px;
        color: #fff;
    }

    .erweima h4 {
        font-size: 14px;
        font-family: 微软雅黑;
    }

    .wangz {
        text-align: center;
    }

    .footer span {
        padding: 0px 5px;
    }

    .footerdown {
        padding: 5px 0px;
        font-size: 12px;
        color: #fff;
        margin-bottom: 0px;
    }

}
@media (min-width: 480px)and (max-width: 767px) {
    .wangz{text-align: center;}
    .footer span{padding: 0px 10px;}



}

@media (min-width: 768px) and (max-width: 979px) {


}

