*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","宋体",verdana;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.cl{
	clear: both;
}

.site-top{
	width: 100%;
	background-color: #f5f5f5;
}
.top-container{
	width: 1220px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.index{
	margin-left:10px;
	color:#606060;
	font-size: 12px;
}
.info{
	margin-right: 10px;
	float: right;
}
.info li{
	float: left;
	font-size:12px;
	color: #606060;
	margin-right: 20px;
}
.little-tx{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.info li a{
	color:#606060;
	font-size:12px;
}
.info-triangle{
	width: 0;
	height: 0;
	border-width: 5px 5px 0 5px;
	border-color: #4a4a4a transparent;
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
}
.userinfo{
	cursor: pointer;
}
.cart{
	position: absolute;
	display: none;
	width: 83px;
	text-align: center;
	background:rgba(245,245,245,0.7);
}
.cart a{
	line-height: 12px;
	color: #606060;
}
.header{
	width: 100%;

}
.header-container{
	width: 1220px;
	margin: 0 auto;
}
.logo{
	height: 120px;
	float:left ;
}
.logo img{
	margin-left: 10px;
	margin-top: 20px;
}
.search{
	float: right;
	margin-right: 10px;
	margin-top: 40px;
}
.search-text{
	text-indent: 120px;
	padding-right: 80px;
	border: 1px solid #1DABD8;
	border-radius: 5px;
	width: 425px;
	height: 40px;
	line-height: 40px;
	outline:none;
}
.search-btn{
	width: 80px;
	height: 40px;
	line-height: 40px;
	background-color: #1DABD8;
	border: none;
	margin-left: -85px;
	border-radius: 5px;
}
.home,.business,.community,.equipment,.news{
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.home a,.business a,.community a,.equipment a,.news a{
	 color: #606060;
	 font-size: 14px;
}
.business-triangle{
	width: 0;
	height: 0;
	border-width: 5px 5px 0 5px;
	border-color: #4a4a4a transparent;
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
}
.business-list{
	display: none;
}
.site-middle{
	width: 100%;
}
.middle-container{
	width: 1220px;
	margin: 20px auto 0;
}
.publisher,.project-detail{
	float: left;
}
.publisher{
	text-align: center;
}
.publisher ul{
	width: 300px;
	height: 300px;
	background-color: #F5F5F5;
}
.publisher img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20px;
	margin-bottom: 10px;
}
.publisher-name{
	font-size: 18px;
	font-weight: bold;
	color: #606060;
	margin-bottom: 20px;
}
.server-type,.server-area,.contact-tel{
	font-size: 18px;
	color: #606060;
}
.server-area,.server-type,.contact{
	margin-top: 10px;
}
.contact-info{
	font-size: 18px;
	color: #1DABD8;
}
.project-detail{
	margin-left: 20px;
	width: 880px;
}
.project-title{
	display: inline-block;
	vertical-align: bottom;
	font-size: 20px;
	font-weight: bold;
	color: #4A4A4A;
}
.type,.area{
	margin-left:20px ;
	font-size: 14px;
	color: #1DABD8;
	display: inline-block;
	vertical-align: bottom;
}
.publish-time{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 12px;
	color: #d8d8d8;
}
.project-desc{
	font-size: 14px;
	color: #606060;
}
.project-desc h5{
	font-size: 14px;
	color: #606060;
	font-weight: normal;
}
.construction h5,.construction{
	font-size: 14px;
	color: #606060;
	font-weight: normal;
}
.construction img{
	margin-top: 20px;
	width: 800px;
}
.arctile-foot{
	margin-top: 20px;
}
.footer-top{
	width: 100%;
	background-color: #F5F5F5;
}
.footer-top-container{
	width: 1220px;
	margin: 0 auto;
	margin-top: 140px;
}
.link{
	float: left;
	width: 700px;
}
.link h4{
	font-size: 20px;
	color: #4A4A4A;
	margin: 10px 0 20px 10px;
}
.line{
	border: none;
	background-color: #c5c4c5;
	width: 700px;
	height: 1px;
}
.link-list,.link-list1{
	margin-top: 15px;
	float: left;
	width: 170px;
}
.link-list a,.link-list1 a{
	color:#737373 ;
	font-size: 12px;
	margin-bottom: 10px;
}
.link-list{
	margin-left: 10px;
}
.qr-code{
	float: left;
	width: 500px;
}
.qr-code ul{
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.qr-code h4{
	font-size: 20px;
	color: #4A4A4A;
}
.qr-code li{
	text-align: center;
	float: left;
	width: 200px;
}
.qr-code img{
	width: 120px;
	height: 120px;
	margin-top: 10px;
}
.btottom{
	width: 100%;
	border-top: 5px solid #9b9b9b;
	background-color: #4A4A4A;
}
.bottom-container{
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	width: 1220px;
	margin: 0 auto;
}
.bottom-container a{
	color: #FFFFFF;
	font-size: 12px;
}
.p1{
	margin-top: 30px;
}.p1 span{
	margin: 0 20px;
}
.p2{
	margin-top: 15px;
}
.p3{
	margin-top: 15px;
	padding-bottom: 22px;
}
.p3 span{
	margin: 0 20px;
}
.navm{
	width: 100%;
	height: 40px;
}
.navc{
	width: 1200px;
	height: 40px;
	margin: 0px auto

}
.navcontent{
	width: 1000px;
	height: 40px;
	float: left;
	line-height: 40px;
}
.navcontent li {
	display:inline;
	float: left;
	width: 120px;
	height: 40px;
	text-align: center;
	position: relative;
}

.navcontent li:hover a{
	color: #ffffff;
}
.navcontent li img{
	position: absolute;
	bottom: 10px;
	right: 30px;
	display: none;
}
.navcontent li:hover img{
	display: block;
}
.navcontent li:hover{
	background: #1DABD8;

}

.navcontent li a{
	color: #4a4a4a;
	text-decoration: none;
	font-weight: bold;
}
.nav-underline{
	border: 1px #1DABD8 solid;
	border-bottom: 2px #1DABD8 solid;
}
.buslist{cursor: pointer}
.cart{
	position: absolute;
	display: none;
	width: 120px;
	left: 195px;
	top: 200px;
	text-align: center;
	background:rgba(245,245,245,1);
	z-index: 20;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.buslist1{cursor: pointer}
.cart1{
	position: absolute;
	display: none;
	width: 120px;
	left: 315px;
	top: 200px;
	text-align: center;
	background:rgba(245,245,245,1);
	z-index: 20;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.cart1 p a ,.cart p a ,.cart2 p a {
	color: #4A4A4A;
	text-decoration: none;
}
.buslist2{cursor: pointer}
.cart2 {
	position: absolute;
	display: none;
	width: 120px;
	left: 435px;
	top: 200px;
	text-align: center;
	background: rgba(245, 245, 245, 1);
	z-index: 820;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.cart2 p:hover{
	background: #1DABD8;
}
.cart p:hover{
	background: #1DABD8;
}
.cart1 p:hover{
	background: #1DABD8;
}