*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","宋体",verdana;
}
a{
	text-decoration: none;
}
i{
    font-style: normal;
}
ul,li{
	list-style: none;
}
.cl{
	clear: both;
}
.site-top{
	width: 100%;
	background-color: #f5f5f5;
}
.top-container{
	width: 1220px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.index{
	margin-left:10px;
	color:#606060;
	font-size: 12px;
}
.info{
	margin-right: 10px;
	float: right;
}
.info li{
	float: left;
	font-size:12px;
	color: #606060;
	margin-right: 20px;
}
.little-tx{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.info li a{
	color:#606060;
	font-size:12px;
}
.info-triangle{
	width: 0;
	height: 0;
	border-width: 5px 5px 0 5px;
	border-color: #4a4a4a transparent;
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
}
.userinfo{
	cursor: pointer;
}
.cart{
	position: absolute;
	display: none;
	width: 83px;
	text-align: center;
	background:rgba(245,245,245,0.7);
}
.cart a{
	line-height: 12px;
	color: #606060;
}
.header{
	width: 100%;

}
.header-container{
	width: 1220px;
	margin: 0 auto;
}
.logo{
	height: 120px;
	float:left ;
}
.logo img{
	margin-left: 10px;
	margin-top: 20px;
}
.search{
	float: right;
	margin-right: 10px;
	margin-top: 40px;
}
.search-text{
	text-indent: 120px;
	padding-right: 80px;
	border: 1px solid #1DABD8;
	border-radius: 5px;
	width: 425px;
	height: 40px;
	line-height: 40px;
	outline:none;
}
.search-btn{
	width: 80px;
	height: 40px;
	line-height: 40px;
	background-color: #1DABD8;
	border: none;
	margin-left: -85px;
	border-radius: 5px;
}
.home,.business,.community,.equipment,.news{
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.home a,.business a,.community a,.equipment a,.news a{
	 color: #606060;
	 font-size: 14px;
}
.business-triangle{
	width: 0;
	height: 0;
	border-width: 5px 5px 0 5px;
	border-color: #4a4a4a transparent;
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
}
.business-list{
	display: none;
}
.banner{
	width: 100%;
}
.site-middle{
	width: 100%;
}
.middle-container{
	width: 1220px;
	margin: 20px auto 15px;
}
.contract-work,.package{
	width: 120px;
	height: 40px;
	display: inline-block;
}
.release{
	width: 180px;
	height: 40px;
	float: right;
	margin-left: 10px;
}
.contract-work{
	margin-left: 10px;
	margin-right: 60px;
}
.sort{
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #c5c4c5;
}
.rank,.hot-rank{
	font-size: 14px;
	display: inline-block;
	width: 120px;
}
.rank{
	color: #1DABD8;
}
.hot-rank{
	color: #9b9b9b;
}
.pages-turn{
	float: right;
}
.rank,.hot-rank,.pages-turn{
	height: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.pageup,.pagedown{
	line-height: 20px;
	font-size: 14px;
	color: #9b9b9b;
 }
.pageup{
	margin-right: 40px;
}
.project-info{
	width: 1220px;
	margin: 20px auto 0;
}
.project-info ul{
	width: 1180px;
	margin: 0 auto;
	border-bottom: 1px solid #c5c4c5;
}
.project-preview{
	margin-left: 10px;;
	float: left;
}
.title{
	margin-top: 30px;
}
.title a{
	color: #4A4A4A;
	font-size: 18px;
	font-weight: bold;
}
.digest{
	width: 300px;
	height: 30px;
	color: #606060;
	font-size: 14px;
	margin-top: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.image{
	float: right;
}
.image img{
	width: 120px;
	height: 80px;
	margin: 10px 10px 10px 0;
}
.pages{
    width: 1180px;
    height: 80px;
    margin: 0 auto;
}
.page-select{
    margin-left: 380px;
    margin-top: 50px;
    float:left ;
}
.page-select li{
    display: inline-block;
    vertical-align: middle;
}
.pagesup{
    margin-right: 20px;
}
.pagesdown{
    margin-left: 10px;
}
.pages-num{
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    outline: 1px solid #c5c4c5;
}
.page-select a{
    font-size: 14px;
    color:#9b9b9b;
}
.page-skip{
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 50px;
    float: right;
}
.page-num{
    width: 20px;
    height: 20px;
    border: 1px solid #9b9b9b;
}
.blank{
    margin-left: 10px;
    margin-right: 20px;
}
.page-btn {
	width: 50px;
	text-align: center;
	color: #9b9b9b;
	background-color: #FFFFFF;
	border: 1px solid #9b9b9b;
	line-height: 20px;
	margin-right: 10px;
}
.foottop{
	width: 100%;
	height: 175px;
	background: #f5f5f5;
	margin-top: 140px;
}
.foottop-1{
	width: 1200px;
	height: 175px;
	margin: 0px auto;
}
.foottoplf{
	width: 700px;
	height: 175px;
	float: left;
}
.foottoplf li{
	display: inline;
	float: left;
	text-align: left;
	padding-right: 80px;
}
.foottoprg{
	width: 500px;
	height: 175px;
	float: right;
}
.rqcode-app{
	float:left;
	width: 200px;
	height: 175px;
	text-align: center;
	padding-left: 95px;
}
.rqcode-app h4{
	margin: 15px 0px;
	font-size: 20px;
	color: #4a4a4a;
}
.rqcode-wx h4{
	margin: 15px 0px;
	font-size: 20px;
	color: #4a4a4a;
}
.rqcode-wx{
	float:right;
	width: 200px;
	height: 175px;
	text-align: center;
	padding-left: 30px;
	margin-right: -25px;
}
.link h4{
	font-size: 20px;
	color: #4a4a4a;
	margin-top: 10px;
	margin-bottom: 10px;
}
.link hr{
	margin-left: -5px;
	margin-bottom: 20px;
}
.foottoplf li a{
	font-size: 12px;
	color: #737373;
	text-decoration: none;
}
.foottoplf li p{
	margin-bottom: 10px;
}
.downline{
	border-bottom: 5px #9b9b9b solid;
	width: 100%;
}
.footdown{
	width: 100%;
	height: 150px;
	background: #4a4a4a;
}
.footdown-1{
	width: 1200px;
	height: 150px;
	margin:0px auto;
	text-align: center;
}
.about{
	padding-top: 15px;
}
.about p a {
	font-size: 12px;
	color:#f7f7f7;
	text-decoration: none;
}
.about p{
	font-size: 12px;
	color:#f7f7f7;
	text-decoration: none;
	margin: 15px 0px;
}
.about p span{
	margin: 0px 20px;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.pagination{
	width: 700px;
	height: 60px;
	line-height: 60px;
	float: left;
	text-align: right;
	color: #9b9b9b;
	margin-top: 30px;

}
.pagination li{
	display: inline;
	border: 1px #9b9b9b solid;
	padding: 3px 7px;
	margin: 0px 5px;
}
.pagination li a{
	text-decoration: none;
	color:#606060;
	font-size: 16px;
}

.navm{
	width: 100%;
	height: 40px;
}
.navc{
	width: 1200px;
	height: 40px;
	margin: 0px auto

}
.navcontent{
	width: 1000px;
	height: 40px;
	float: left;
	line-height: 40px;
}
.navcontent li {
	display:inline;
	float: left;
	width: 120px;
	height: 40px;
	text-align: center;
	position: relative;
}
.navcontent li a{

}
.navcontent li:hover a{
	color: #ffffff;
}
.navcontent li img{
	position: absolute;
	bottom: 10px;
	right: 30px;
	display: none;
}
.navcontent li:hover img{
	display: block;
}
.navcontent li:hover{
	background: #1DABD8;

}

.navcontent li a{
	color: #4a4a4a;
	text-decoration: none;
	font-weight: bold;
}
.nav-underline{
	border: 1px #1DABD8 solid;
	border-bottom: 2px #1DABD8 solid;
}
.busb{
	width: 50px;
	color: #9b9b9b;
	margin-left: 20px;
}
.server{
	width: 1200px;
	overflow: hidden;

}
.server hr{
	border-bottom: 1px #9b9b9b solid;
}
.type-title{
	background: #606060;
	color: #fff;
	border-bottom: 1px #ffffff solid;
}
.type-title-1{
	background: #606060;
	color: #fff;
	border-bottom: 1px #9b9b9b solid;
}
.server-type{
	width: 1200px;

	border-bottom: 1px #9b9b9b solid;


}
.server-type li{
	display: inline;
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.server-type li a{
	font-size: 18px;
	color: #606060;
	text-decoration: none;
	padding: 7px 10px;
}
.server-type li a:hover{
	background: #1DABD8;
	color: #ffffff;
	border-radius: 10px;
}
.downmenue{
	width: 80px;
	height: 50px;
	background: #F5F5F5;
	float: right;
}