*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑","宋体",verdana;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
ul,li{
    list-style: none;
}
.cl{
    clear: both;
}
.site-top{
    width: 100%;
    background-color: #f5f5f5;
}
.top-container{
    width: 1220px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.info{
    margin-right: 10px;
    float: right;
}
.info li{
    float: left;
    font-size:12px;
    color: #606060;
    margin-right: 20px;
}
.little-tx{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.info li a{
    color:#606060;
    font-size:12px;
}
.info-triangle{
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-color: #4a4a4a transparent;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}
.userinfo{
    cursor: pointer;
}
.cart{
    position: absolute;
    display: none;
    width: 83px;
    text-align: center;
    background:rgba(245,245,245,0.7);
}
.cart a{
    line-height: 12px;
    color: #606060;
}
.header{
    width: 100%;
    border-bottom: 2px solid #1DABD8;
}
.header-container{
    width: 1220px;
    margin: 0 auto;
}
.logo{
    margin-left: 10px;
    height: 120px;
}
.logo img{
    margin-left: 10px;
    margin-top: 20px;
}
.navigation::after{
    clear: both;
    content: "";
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.nav-item{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}
.nav-item a{
    color: #606060;
}
.nav-item:hover{
    background-color: #1DABD8;
}
.business-triangle{
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-color: #4a4a4a transparent;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}
.business-list{
    display: none;
}
.site-middle{
    width: 100%;
}
.middle-cont{
    width: 1220px;
    margin: 0 auto;
}
.middle-top{
    width: 1200px;
    margin: 20px auto 0;
    color: #9b9b9b;
    font-size: 14px;
}
.upload-status{
    width: 1200px;
    margin: 30px auto 40px;
    text-align: center;
}
.upload-content{
    height: 300px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    outline: 1px solid #606060;
}
.picker{
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background: url("../images/info/selected_text.png");
}
.upload-content p{
    margin-top: 30px;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #9b9b9b;
}
.tips{
    width: 1200px;
    margin: 40px auto 0;
    text-align: center;
}
.tips h3{
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}
.tips p{
    margin-top: 10px;
    font-size: 14px;
    color: #9b9b9b;
}
.footer-top{
    width: 100%;
    background-color: #F5F5F5;
}
.footer-top-container{
    width: 1220px;
    margin: 0 auto;
    margin-top: 140px;
}
.link{
    float: left;
    width: 700px;
}
.link h4{
    font-size: 20px;
    color: #4A4A4A;
    margin: 10px 0 20px 10px;
}
.line{
    border: none;
    background-color: #c5c4c5;
    width: 700px;
    height: 1px;
}
.link-list,.link-list1{
    margin-top: 15px;
    float: left;
    width: 170px;
}
.link-list a,.link-list1 a{
    color:#737373 ;
    font-size: 12px;
    margin-bottom: 10px;
}
.link-list{
    margin-left: 10px;
}
.qr-code{
    float: left;
    width: 500px;
}
.qr-code ul{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.qr-code h4{
    font-size: 20px;
    color: #4A4A4A;
}
.qr-code li{
    text-align: center;
    float: left;
    width: 200px;
}
.qr-code img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
}
.btottom{
    width: 100%;
    border-top: 5px solid #9b9b9b;
    background-color: #4A4A4A;
}
.bottom-container{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    width: 1220px;
    margin: 0 auto;
}
.bottom-container a{
    color: #FFFFFF;
    font-size: 12px;
}
.p1{
    margin-top: 30px;
}.p1 span{
     margin: 0 20px;
 }
.p2{
    margin-top: 15px;
}
.p3{
    margin-top: 15px;
    padding-bottom: 22px;
}
.p3 span{
    margin: 0 20px;
}